
:root {
    --color-dark-red:#A52A2A;
    --color-dark-red2:rgba(165, 42, 42, 0.90);
    --color-dark-red3:rgba(165, 42, 42, 0.80);
    --color-dark-red4:rgba(165, 42, 42, 0.70);
    --color-dark-red5:rgba(165, 42, 42, 0.50); 
    --color-beige:#F5E0B7;
}
body{
    font-family: "Itim", cursive;
}
#logo{
    font-family: "Inknut Antiqua", serif;
    color:var(--color-dark-red);
    letter-spacing: 10px;
    font-size:xx-large;
    padding:20px;
}
.container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin:10px auto ;
    display: flex;
    padding:20px;
    flex-direction: column;
    text-align: center;
    max-width:350px;
    overflow: hidden;
}
form{
    text-align: left;
    width:320px;
    margin:0 auto;
}
.input{
    margin: 20px 4px 20px;
}

.pill-red{
    padding: 10px;
    border-radius: 30px;
    background-color:var(--color-dark-red);
    color:white;
    font-weight: 400;
    font-size: 16px;
    margin:0 5.5rem;
}

input{
    background-color: var(--color-beige);
    width:290px;
    padding: 10px;
    border-radius: 5px;
}

.textSvg-center{
   display:flex;
    width:320px;
   margin:0 auto;
   text-align: center;
}
#photoProfil{
    margin-left: 10px;
}
#profil{
    display:block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width:350px;
    padding:15px;
    float:left;
    margin-left:10px;
    margin-bottom: 20px;
}
.options{
    border-radius: 5px;
    padding:10px;
    margin-bottom: 10px;
}
.options a {
    text-decoration: none;
    margin:0 auto;
    color:white;
}
.red1{
    background-color: var(--color-dark-red);
}
.red2{
    background-color: var(--color-dark-red2);
}
.red3{
    background-color: var(--color-dark-red3);
}
.red4{
    background-color: var(--color-dark-red4);
}
.navbar a.active {
    background-color: var(--color-dark-red);
    color: white;
  }
.navbar{
    margin-top: 40px;
    position:fixed;
    bottom:0px;
    left: 40%;
    display:flex;
   justify-content: space-around; 
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width:350px;
    padding:15px;
}

@media screen and (max-width:600px){
    #profil{
        display:none;
    }
  #openProfile{
    display:block;
  }
  #closeProfile{
    display:none;
  }
    .textSvg-center{
    width:250px;
    }
}
@media screen and (max-width:768px){
    .container{
        width:90%;
    }
    .close{
        display:none;
    }
    .open{
        display:block;
    }
    .navbar{
        left:0%;
        width:100%;
    }
}