
:root {
    --color-dark-red:#A52A2A;
    --color-dark-red2:rgba(165, 42, 42, 0.90);
    --color-dark-red3:rgba(165, 42, 42, 0.80);
    --color-dark-red4:rgba(165, 42, 42, 0.70);
    --color-dark-red5:rgba(165, 42, 42, 0.50); 
    --color-beige:#F5E0B7;
    --color-yellow:#FCBA11;
    --color-purple:#BD8CC9;
    --color-green:#B4CC6F;
    --color-blue:#6DD2BA;
}
a{
    text-decoration: none;
    color:black;
    padding:10px;
}
h4{
    color:black;
}
button:hover, .options:hover{
    cursor: pointer;
}
.bg-beige{
    background-color: var(--color-beige);
}
.bg-blue{
    background-color: var( --color-blue);
}
.bg-green{
    background-color: var( --color-green);
}
.bg-yellow{
    background-color: var( --color-yellow);
}
.bg-purple{
    background-color: var( --color-purple);
}
body{
    font-family: "Itim", cursive;
    margin-bottom: 120px;
}
.d-flex{
    display: flex;
    align-items: center;
}
.s-around{
    justify-content:space-around;
}
#redCircle{
    background-color: var(--color-dark-red);
    width:520px;
    height:520px;
    border-radius:50%;
    position:absolute;
    right:5px;
    opacity:60%;
    filter: blur(30px);
    z-index:1;
}

#bigYellowCircle{
    background-color: var(--color-beige);
    border-radius:50%;
    width:320px;
    height:320px;
    position:absolute; 
    opacity:60%;
    bottom:5px;
    filter: blur(30px);
    z-index:2;
}

#smallYellowCircle{
    background-color: var(--color-yellow);
    border-radius:50%;
    opacity:60%;
    position:absolute; 
    width:100px;
    height:100px;
    left: 257px;
    top: 221px;
    filter: blur(30px);
    z-index:3;
}
#logo{
    font-family: "Inknut Antiqua", serif;
    color:var(--color-dark-red);
    letter-spacing: 10px;
    font-size:xx-large;
    padding:20px;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin:10px auto ;  
    padding:20px;  
    text-align: center;
    max-width:750px;
    overflow: hidden;
    border-radius: 5px;
    z-index: 100;
    position: relative; 
    background-color: white;
}
form{
    text-align: left;
    width:320px;
    margin:0 auto;
}
.input{
    margin: 20px 4px 20px;
}

.pill-red{
    padding: 10px;
    border-radius: 30px;
    background-color:var(--color-dark-red);
    color:white;
    font-weight: 400;
    font-size: 16px;
    margin:0 5.5rem;
}

input{
    background-color: var(--color-beige);
    width:290px;
    padding: 10px;
    border-radius: 5px;
}

.textSvg-center{
   display:flex;
    width:300px;
   margin:0 auto;
   text-align: center;
}
#photoProfil{
    margin-left: 10px;
}
#profil{
    display:block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width:350px;
    padding:15px;
    float:left;
    margin:20px;
    z-index:101;
    position: relative;
    background-color: white;
    border-radius: 5px;
}
.options{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:10px;
    margin-top:10px;
    color:white;
}
.options p {
    margin:2px auto;
}
.red1{
    background-color: var(--color-dark-red);
}
.red2{
    background-color: var(--color-dark-red2);
}
.red3{
    background-color: var(--color-dark-red3);
}
.red4{
    background-color: var(--color-dark-red4);
}
.navbar a.active {
    background-color: var(--color-dark-red);
    color: white;
  }
.navbar{
    margin-top: 40px;
    position:fixed;
    bottom:0px;
    left: 40%;
    display:flex;
   justify-content: space-around; 
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width:350px;
    padding:15px;
}
.module{
    display: flex;
    width:320px;
    margin:0 auto;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}
.notes{
    text-align: left;
    padding:20px;
}
.img{
    border-radius: 5px;
    margin:0-auto;
}
#active{
    width: 60px;
    height:60px;
    background-color: var( --color-dark-red);
    display:inline-block;
    padding-left: 7px;
    padding-top: 7px;
}
@media screen and (max-width:600px){
    #profil{
        display:none;
    }
  #openProfile{
    display:block;
  }
  #closeProfile{
    display:none;
  }
    .textSvg-center{
    width:250px;
    }
}
@media screen and (max-width:768px){
    .container{
        width:90%;
    }
    .close{
        display:none;
    }
    .open{
        display:block;
    }
    .navbar{
        left:0%;
        width:100%;
        border-radius: 5px;
    }
}
/* @media screen and (min-width:768px){
    .container{
        width:90%;
    }
} */



/* ✨ home */




